.uk-switcher li {
    width: min-content !important;

    font-size: 2.625rem;
    line-height: 1.2;
    margin-top: 40px;
}

.uk-switcher li:hover {
    text-decoration: underline;
}

.hlavni_nadpisss {
    margin-top: -25px;
    display: inline-flex;
}

.owl-dots {
    display: none;
}

.owl-item .uk-card {
    width: 250px !important;
}

.owl-stage {
    margin-right: -30px;
    padding: 20px;
    height: 300px !important;

}

.owl-nav button {
    height: 27px !important;
    width: 27px !important;
    background-color: #000 !important;
    border-radius: 50% !important;
    color: #fff !important;
    text-align: center !important;
    font-size: 20px !important;
    position: absolute;
}

.owl-nav .owl-prev {
    left: 0;
}

.owl-nav .owl-next {
    right: 0;
}

.owl-nav {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    margin-top: -200px !important;
    margin-bottom: 200px !important;
}

@media screen and (max-width: 1200px) {
    .moje-obsah {
        display: none;
    }
}

@media screen and (min-width: 1199px) {
    .moje-main-content-padding-left {
        margin-left: 300px !important;
    }
}


.moje-otevirak-na-obsah {
    position: fixed;
    bottom: 50px;
    right: 0;

}

.moje-carousel {
    height: 320px !important;
    display: inline-flex !important;
    overflow-x: scroll;
    width: 100%;
    margin-bottom: 40px;

}

.moje-carousel .item {
    width: 400px !important;
    padding: 20px;
}



::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(131, 131, 131);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3b3b3b;
}

.moje-vyber-predmetu div a div img {
    height: 190px;
    width: 100%;
    opacity: 0.5;
}

.moje-carousel {
    scroll-snap-type: x mandatory;
    scroll-padding: 0 250px;

}

.moje-carousel .item {
    scroll-snap-align: start;
}

.uk-button-primary {

    color: var(--text-color) !important;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}



.moje-footer {
    background-color: gray;
    padding-bottom: 35px;

}

.moje-footer h4 {
    height: fit-content;
}

.moje-footer div div div {
    display: unset;
}

.moje-footer ul {
    list-style-type: none;
}

.moje-footer li a {
    display: inline-flex;
}

.moje-footer li p {
    margin: 5px;
    /* padding-left: 5px; */
}


.moje-footer li img {
    width: 1.2rem;
}


@media only screen and (max-width: 640px) {
    .moje-vyber-predmetu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        overflow-x: scroll;
        padding: 15px;
    }

    .moje-vyber-predmetu div {
        width: 350px;
    }
}